* {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
a:link,
a:visited {
  color: #000;
}
.clearfix:after {
  clear: both;
  display: block;
  content: "";
}
html {
  height: 100%;
}
.topNav {
  width: 100%;
  height: 40px;
  background-color: #0044af;
}
#header-img-background {
  width: 100%;
  height: 90px;
  background-image: url(../img/arplan_back.jpg);
}
.header-TopBox {
  width: 980px;
  min-width: 980px;
  height: 90px;
  margin: 0 auto;
}
.Logo {
  width: 170px;
  height: 70px;
}
.Logo img {
  width: 100%;
  height: 100%;
  padding-top: 5px;
  cursor: pointer;
}
.header-sns-images li a {
  float: right;
  width: 30px;
  padding-top: 30px;
  padding-left: 10px;
}
.header-Menu-background {
  width: 100%;
  height: 65px;
  background-color: #fff;
  border-bottom: 5px solid #0e73a7;
}
.header-MenuBox {
  width: 980px;
  height: 65px;
  margin: 0 auto;
}
.header-MenuBox ul {
  display: flex;
}
.topMenuBtn.active {
  color: #fff;
  background-color: #0e73a7;
}
.header-MenuBox ul li {
  float: left;
  width: 100%;
  height: 100%;
  line-height: 65px;
  text-align: center;
  font-size: 20px;
  color: #14272e;
  border-left: 1px solid #eee;
  box-sizing: border-box;
}
.header-MenuBox ul li a {
  display: block;
  color: black;
  transition: all 0.2s;
}
.header-MenuBox ul li a:hover {
  color: #fff;
  background-color: #0e73a7;
}
.header-MenuBox ul li:last-child {
  border-right: 1px solid #eee;
}
.leftNav {
  width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
}
.leftNav ul {
  float: left;
}
.leftNav ul li {
  float: left;
  width: 120px;
  height: 40px;
  line-height: 40px;
  background-color: #00163b;
  margin-right: 5px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
}
.leftNav ul li:hover {
  background-color: #fff;
  color: #000;
}
.rightNav {
  width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
}
.rightNav ul li {
  cursor: pointer;
  float: right;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  margin-left: 15px;
}
.plus {
  font-size: 16px;
  width: 18px;
  height: 18px;
  line-height: 16px;
  background-color: #fff;
  color: #585858;
  margin-top: 12px;
  text-align: center;
  cursor: pointer;
}
.minus {
  font-size: 22px;
  width: 18px;
  height: 18px;
  line-height: 16px;
  background-color: #fff;
  color: #585858;
  margin-top: 12px;
  text-align: center;
  margin-right: -10px;
  cursor: pointer;
}
.plus:hover {
  background-color: #585858;
  color: #fff;
}
.minus:hover {
  background-color: #585858;
  color: #fff;
}

.topMenu {
  width: 100%;
  height: 120px;
  background-color: #fff;
}
.topMenuBox {
  width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
}
.rightMenu {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.rightMenu ul li {
  float: right;
  line-height: 120px;
  margin-left: 35px;
}
.rightMenu ul li img {
  padding-top: 35px;
  cursor: pointer;
}
.rightMenu ul li a {
  color: #585858;
  font-size: 20px;
  font-weight: bold;
  box-sizing: border-box;
  transition: 0.4s;
}
.rightMenu ul li a:hover {
  border-bottom: 3px solid #fff;
}
.list {
  display: flex;
  flex-direction: column;
}
.Logo {
  float: left;
  cursor: pointer;
}
.Logo h1 {
  padding-top: 15px;
}
/*header ë */
.main {
  width: 100%;
  background: url(../img/back.jpg);
  background-size: cover;
  background-position: center;
}
.articleCard {
  width: 1200px;
  height: 900px;
  min-width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
}
.contents.borderBox {
  width: 100%;
  height: 95%;
  background-color: #fff;
}
.Indroduc_Top h2 {
  text-align: center;
}
#Sub_Top {
  line-height: 70px;
  margin-left: 10px;
  font-weight: normal;
  font-size: 14px;
}
.Sub_Bottom {
  text-align: center;
  color: #666;
  font-size: 14px;
}
.app_list {
  margin-top: 20px;
}
.articleCard > ul > li {
  float: left;
}
.articleCard > ul > li:first-child {
  width: 75%;
  height: 450px;
}
.articleCard > ul > li:nth-child(2) {
  width: 25%;
  height: 450px;
}
.reservation_menu {
  box-sizing: border-box;
  padding: 30px 0;
  position: relative;
  border-bottom: 1px solid #cdcdcd;
}
.reservation.on {
  background: rgba(1, 199, 60, 0.25);
  border-bottom: 1px solid #fff;
  font-weight: bold;
}
.reservation:first-child {
  border-left: 1px solid #dcdcdc;
}
.reservation {
  border-right: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  background: #fafafa;
  border-top: 2px solid #01c73c;
  width: 1%;
  display: table-cell;
  height: 42px;
  vertical-align: middle;
  text-align: center;
  color: #000;
  font-weight: bold;
  font-size: 15px;
}
#sel_tab {
  position: absolute;
  z-index: -1;
  color: #fff;
}
.program {
  display: block;
  text-align: center;
  font-size: 2em;
  padding-top: 12px;
}
.Park_db {
  display: block;
  overflow: scroll;
  height: 563px;
  overflow-x: hidden;
}
.list dt {
  color: #0000ff;
  padding: 10px 0px 10px 10px;
  font-size: 20px;
}
.list dd ul {
  padding: 10px 0 10px 10px;
}
.list dd ul img {
  width: 50%;
  height: 300px;
}
.list dd ul li {
  position: relative;
  margin-top: 10px;
  margin-top: 10px;
}
.list dd ul li .title {
  position: absolute;
  padding-left: 5px;
}
.list dd ul li .detail {
  display: block;
  padding-left: 145px;
  color: #000000;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 20px;
}
.btn a {
  color: #fff;
  width: 33%;
  background: #e91b23;
  font-size: 15px;
  text-align: center;
  padding: 9px 10px;
  box-sizing: border-box;
}
#paging {
  height: 30px;
  line-height: 18px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
footer {
  width: 100vw;
  height: 170px;
  background-color: #fff;
  margin-top: 70px;
}
.footerBox {
  position: relative;
  width: 1200px;
  min-width: 1200px;
  height: 170px;
  margin: 0 auto;
}
.footernav {
  position: absolute;
  top: 25px;
  right: 110px;
}
.footernav ul li {
  cursor: pointer;
  float: left;
  padding: 0 17px;
  font-size: 15px;
  text-align: center;
  position: relative;
}
.footernav ul li:before {
  content: "";
  display: block;
  width: 1.4px;
  height: 12px;
  background-color: #000;
  position: absolute;
  top: 5px;
  left: 0px;
}
.footernav ul li:first-child:before {
  display: none;
}
.footerText {
  position: absolute;
  top: 57px;
  right: 300px;
}
.footerText p {
  margin: 5px 0px;
  font-size: 13.5px;
  color: #585858;
}
.footerLogo {
  position: absolute;
  top: 20px;
  left: 40px;
}
.footerLogo img {
  width: 200px;
}
.rightMenu > ul > li > a {
  color: #fff;
}
